.video {
  cursor: pointer;
  height: 132px;
  position: relative;
  overflow: hidden;
}

.video-author {
    color: rgba(223, 31, 31, 0.71);
    font-size: 12px;
    padding-bottom: 8px;
}

.video-description {
    color: #727785;
    font-size: 12px;
    line-height: 1.5;
}

.video-thumbnail {
    background: black;
    min-width: 120px;
    /*height: 100%;*/
}

.video-title {
    /* padding-top: 5px; */
    font-size: 24px;
    /*white-space: nowrap;*/
}

.video:hover .checkBox ,
.video:hover .download-buttons{
  display: inline-block !important;
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.embed-responsive.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}

.embed-responsive-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


.comment {
    cursor: pointer;
    height: 90px;
    position: relative;
    border-bottom: 1px solid #22242a;
    overflow: hidden;
}

.no-select {
  -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}


#searchBar md-input-container {
  padding: 0;
  margin: 0;
}

.video-duration {
  background-color: rgba(0, 0, 0, 0.49);
  color: white;
  position: absolute;
  bottom: 1px;
  right: 1px;
  font-size: 12px;
}

.video-thumbnail-wrapper {
  position: relative;
  font-size: 0px;
}

::-webkit-scrollbar {
    display: none;
}
