<!DOCTYPE html>
<html ng-app="Youtube" ng-controller="MainCtrl as ctrl">

    <head>
        <title></title>
        <meta name="viewport" content="initial-scale=1">

        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="components/angular-material/angular-material.css">

        <script src="components/angular/angular.js"></script>
        <script src="components/angular-aria/angular-aria.js"></script>
        <script src="components/angular-sanitize/angular-sanitize.js"></script>
        <script src="components/angular-animate/angular-animate.js"></script>
        <script src="components/angular-material/angular-material.js"></script>
        <script src="https://www.youtube.com/iframe_api"></script>
        <script src="javascripts/angular-youtube-embed.js"></script>
        <script src="components/moment/moment.js"></script>
        <script src="components/angular-moment/angular-moment.js"></script>

        <script src="javascripts/core.js"></script>

    </head>

    <body layout class="inset" layout-padding>

        <div flex layout="column">
            <div layout layout-align="start end" id="searchBar">

                <md-autocomplete
                    flex
                    style="margin-right: 1em;"
                    md-items="item in searchCtrl.querySearch(searchCtrl.searchText)"
                    md-search-text="searchCtrl.searchText"
                    md-search-text-change="search()"
                    md-selected-item-change="search()"
                    md-item-text="item.display"
                    md-min-length="3"
                    placeholder="Search Youtube">
                    <md-item-template>
                        <span md-highlight-text="searchCtrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                    </md-item-template>
                    <md-not-found>
                        No states matching "{{searchCtrl.searchText}}" were found.
                    </md-not-found>
                </md-autocomplete>

                <div>
                    <md-input-container>
                        <label>Quality</label>
                        <md-select ng-model="videoDefinitionType" ng-change="resetVideos()">
                            <md-option ng-repeat="definitionType in videoDefinitionTypes" value="{{definitionType.type}}">{{definitionType.displayName}}</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container>
                        <label>Sort by</label>
                        <md-select ng-model="sortType" ng-change="resetVideos()">
                            <md-option ng-repeat="sortType in sortTypes" value="{{sortType.type}}">{{sortType.displayName}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>

            </div>

            <div flex ng-show="selectedVideos.length > 0" layout="column">
                <div>
                    <md-button ng-click="downloadAllMP3()">
                        Download All MP3
                    </md-button>

                    <md-button ng-click="downloadAllMP4()">
                        Download All MP4
                    </md-button>

                    <md-button ng-show="selectedVideos.length > 1 " ng-click="selectedVideos = [];">
                        Clear All
                    </md-button>

                </div>
                <h1>Selected videos</h1>

                <md-content flex>
                    <div layout ng-repeat="video in selectedVideos">
                        <div>
                            <img ng-src="{{video.snippet.thumbnails.default.url}}"/>
                        </div>
                        <md-button href="/convertomp3/{{video.id.videoId}}" download="{{video.snippet.title}}.mp3">
                            Download MP3
                        </md-button>
                        <md-button href="/convertomp4/{{video.id.videoId}}" download="{{video.snippet.title}}.mp4">
                            Download MP4
                        </md-button>
                        <md-button class="md-icon-button" ng-click="selectedVideos.splice(selectedVideos.indexOf(video),1)">
                            <md-icon md-svg-icon="content:ic_clear_24px"></md-icon>

                        </md-button>
                        <div flex>
                            <span>{{video.snippet.title}}</span>

                        </div>
                    </div>
                </md-content>
            </div>
        </div>

        <md-content flex>

            <md-virtual-repeat-container style="height: 100%;">
                <div md-virtual-repeat="video in ctrl.infiniteVideos" layout-align="start start" md-on-demand class="video" ng-click="playVideo(videos[$index])" layout ng-controller="ThumbnailCtrl">

                    <div class="video-thumbnail-wrapper">
                        <img ng-src="{{getThumbnail()}}" ng-mouseover="mouseOver()" ng-mouseleave="mouseLeave()">
                        <span class="video-duration">{{videoDetails[$index].contentDetails.duration  | amDurationFormat }}</span>
                    </div>

                    <div flex layout="column" layout="column" class="video-snippet">
                        <div flex>
                            <span class="video-title">{{videos[$index].snippet.title}}</span>

                        </div>

                        <div layout>
                            <span class="video-author">{{videos[$index].snippet.channelTitle}}</span>
                            <span flex></span>

                            <div>

                                <md-button class="md-raised" href="/convertomp3/{{videos[$index].id.videoId}}" download="{{videos[$index].snippet.title}}.mp3">
                                    Download MP3
                                </md-button>
                                <md-button class="md-raised" href="/convertomp4/{{videos[$index].id.videoId}}" download="{{videos[$index].snippet.title}}.mp4">
                                    Download MP4
                                </md-button>

                                <md-checkbox class="checkBox" ng-click="checkVideo(videos[$index]);$event.stopPropagation();" ng-checked="isVideoChecked(videos[$index])"></md-checkbox>

                            </div>

                        </div>
                    </div>

                </div>
            </md-virtual-repeat-container>

        </md-content>

        <div flex layout="column">
            <div class="embed-responsive embed-responsive-16by9">
                <youtube-video id="youtubePlayer" video-id="videoId" player-vars="youtubePlayerSettings" class="embed-responsive-item"></youtube-video>
            </div>

            <div flex layout="column">
                <md-input-container>
                    <md-select ng-model="commentSortType" ng-change="resetComments()">
                        <md-option ng-repeat="definitionType in commentSortTypes" value="{{definitionType.type}}">{{definitionType.displayName}}</md-option>
                    </md-select>
                </md-input-container>
                <md-content flex>
                    <md-virtual-repeat-container style="height: 100%;">
                        <md-list>
                            <md-list-item md-virtual-repeat="comment in ctrl.infiniteComments" md-on-demand class="md-2-line" layout>
                                <img class="md-avatar" ng-src="{{comments[comment].snippet.topLevelComment.snippet.authorProfileImageUrl}}"/>

                                <div class="md-list-item-text">
                                    <h3>{{comments[comment].snippet.topLevelComment.snippet.authorDisplayName}}</h3>
                                    <span am-time-ago=comments[comment].snippet.topLevelComment.snippet.publishedAt></span>
                                    <p ng-bind-html=comments[comment].snippet.topLevelComment.snippet.textDisplay></p>

                                    <md-list>
                                        <md-list-item ng-repeat="reply in comments[comment].replies.comments">
                                            <img class="md-avatar" ng-src="{{reply.snippet.authorProfileImageUrl}}"/>

                                            <div class="md-list-item-text">
                                                <h3>{{reply.snippet.authorDisplayName}}</h3>
                                                <span am-time-ago=reply.snippet.publishedAt></span>
                                                <p ng-bind-html="reply.snippet.textDisplay"></p>

                                            </div>

                                        </md-list-item>
                                    </md-list>

                                </div>

                            </md-list-item>

                        </md-list>

                    </md-virtual-repeat-container>
                </md-content>

            </div>
        </div>

    </body>

</html>
